.light{
  background-color: #eaf6fb;
  color: rgb(20, 14, 14);
  border-color: rgb(20, 14, 14);
}

.night{
  background-color: rgb(20, 14, 14);
  color: #eaf6fb;
  border-color: #eaf6fb;
}

*{
  transition-duration: .5s;
}

.center{
  width: 100%;
  display: flex;
  justify-content: center;
}

a{
  text-decoration: underline;
  color: inherit;
  box-sizing: initial;
  padding: .3em;
  display: block;
}

.app{
  min-height: 100vh;
  .nav {
    padding: 0 10%;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    overflow-y: hidden;
    border-bottom: 1px solid;
    .links{
      display: flex;
      width: 100%;
      justify-content: space-around;
      height: 100%;
      align-items: center;
    }
    .switch {
      height: 100%;
      width: 20%;
      cursor: pointer;
      .container{
        width: 100%;
        height: 200%;
        display: grid;
        grid-template-rows: 50% 50%;
        transition-duration: .5s;
        .sun, .moon{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            max-width: 100%;
            max-height: 80%;
          }
        }
        .moon{
          transform: rotate(180deg);
        }
      }
      .night{
        animation: .5s forwards sunset;
      }
      .light{
        animation: .5s forwards sunrise;
        transform: rotate(0deg);
      }
    }
  }
  .content{
    width: 80%;
    margin: 0 auto;
  }
}
@keyframes sunrise {
  0%   {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
@keyframes sunset {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}